<%-include('../partials/header')%>

<div class="row justify-content-center">
    <div class="text-center my-5 col-12 yellow">
        
        <h3>Become our Gold Member and Let Us Pitch for you and Prioritize your Joining..      <a href="#">JOIN NOW</a></h3>    
    </div>
</div>

<div class="d-flex flex-column-reverse">
    <% opening.forEach(function(opening){%>
    <div class="row justify-content-center my-5 openingcont" >

       <% if(!opening.image){%>
        <div class="col-12 p-4 " >
            <span>TheReferralRoom<i class="fas fa-crown"></i></span><br>
            <span ><%= opening.created.toDateString() %></span>
            <a href="/internal-openings/<%=opening._id%>"><h4><%=opening.name%></h4></a>
            
           
            <p>
                <a href="/internal-openings/<%=opening._id%>"><%-opening.description.substring(0,100);%>...</a>
            </p>
            <hr>
            <a href="/internal-openings/<%=opening._id%>"><span>write a comment</span></a>
        </div>
        <%}else{%>
            <div class="col-6 p-0 ">
                
                <a href="/internal-openings/<%=opening._id%>"><img class="opening-images" src="<%=opening.image%>" alt="image" ></a></div>
        <div class="col-6 p-4 " ><a href="/internal-openings/<%=opening._id%>"><h4><%=opening.name%></h4></a>
            <span>TheReferralRoom<i class="fas fa-crown"></i></span><br>
            <span ><%= opening.created.toDateString() %></span>
           
            <p>
                <br>
                <a href="/internal-openings/<%=opening._id%>"><%-opening.description.substring(0,100);%>...</a>
                
            </p>
            <hr>
            <a href="/internal-openings/<%=opening._id%>"><span>write a comment</span></a>
            
        </div>
        <%}%>

        
    
    </div>
    <% })%>
    </div>
<!-- <a href="/internal-openings/new">enter new opening</a> -->

<%-include('../partials/footer')%>
