<%-include('../partials/header')%>
<div class="showpage">
    
    <div class="showdiv">
        <span>TheReferralRoom<i class="fas fa-crown"></i></span>.<%= opening.created.toDateString() %>
        <h1 class="py-5"><%=opening.name%></h1>
        <p ><%-opening.description%></p>
        <p>Click here:- <a href="#">Apply</a></p>
        <hr>
        <a href="#"> <i class="mx-1 mr-4 fab fa-facebook-f"></i></a><a href="#"> <i class="mx-1 mr-4 fab fa-twitter"></i></a><a href="#"><i class="mx-1 mr-4 fab fa-linkedin-in"></i></a><a href="#"><i class="mx-1 mr-4 fas fa-link"></i></a>
        <hr>
        </div>
    </div>
</div>


<%-include('../partials/footer')%>