<%-include('../partials/header')%>

<div class="row justify-content-center">
    <div class="text-center my-5 col-12">
        <h2 class="display-4">Vacancies from top companies all at one place.</h2>
        <br>
        <h1>Looking for something more ?
            Please mail it up..</h1>    
    </div>
</div>

<% jobs.forEach(function(job){%>
<div class="row justify-content-center my-5 " >
    <div class="col-6 p-0 "><a href="/jobs/<%=job._id%>"><img class="jobs-images" src="<%=job.image%>" alt="image" ></a></div>
    <div class="col-6 p-4 jobcont" ><a href="/jobs/<%=job._id%>"><h4><%=job.name%></h4></a>
        <span ><%= job.created.toDateString() %></span>
       
        <p>
            <br>
            <a href="/jobs/<%=job._id%>"><%=job.description.substring(0,100);%>...</a>
        </p>
        
    </div>

</div>
<% })%>
<a href="/jobs/new">enter new job</a>


<%-include('../partials/footer')%>


