<%-include('../partials/header')%>
<div class="showpage">
    <div class="d-flex flex-row-reverse ">
        <div class="px-2 logsi"><a href="#">login/signup</a></div>
        <div id="search1" class="px-2 "><a href="#"><i class="fas fa-search"></a></i></div>
        <div id="search2"><i class="fas fa-search"></i><input type="text" placeholder="search"><a href="#"><i id="cross" class="fas fa-times"></i></a></div>
    </div>
    <div class="showdiv">
        <span>TheReferralRoom<i class="fas fa-crown"></i></span>.<%= job.created.toDateString() %>
        <h1 class="py-5"><%=job.name%></h1>
        <p ><%=job.description%></p>
    </div>
</div>


<script >
    var search=document.getElementById('search1');
    search.addEventListener('click',()=>{
        document.getElementById('search1').style.display="none";
        document.getElementById('search2').style.display="block";
        console.log('clicked');
    });
    var search=document.getElementById('cross');
    search.addEventListener('click',()=>{
        document.getElementById('search1').style.display="block";
        document.getElementById('search2').style.display="none";
        console.log('clicked');
    });

</script>

<%-include('../partials/footer')%>